<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot" >


    <!-- Robot description -->
    <xacro:include filename="$(find minimal_driver)/urdf/robot_core.xacro"/>
    <!-- Ros2 controller -->
    <xacro:include filename="$(find minimal_driver)/urdf/diffbot.ros2_control.xacro"/>
    

</robot>